<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Bloggr</a>
    <ul class="nav">
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </div>
</div>
{{outlet}}