<div>
  <label>Title:</label>{{input type="text" value=title}}
</div>

<div>
  <label>Author:</label>{{input type="text" value=author}}
</div>

<div>
  <label>Excerpt:</label>{{input type="text" value=excerpt}}
</div>

<div>
  <label>Body of blog:</label>{{input type="text" valueBinding="model.body"}}
</div>

<button {{action 'save'}}>Add</button>
{{log model}}