{{#if isEditing}}
  {{partial 'posts/edit'}}
  <button {{action 'doneEditing'}}>Done</button>
{{else}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}
<button {{action 'deleteRecord' this}}>Delete</button>

<h1>{{title}}</h1>
<h2>by {{author}} <small class='muted'>({{format-date date}})</small></h2>

<hr>

<div class='intro'>
  {{excerpt}}
</div>

<div class='below-the-fold'>
  {{body}}
</div>