<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <table class="table table-striped">
        <thead>
          <tr><th><h4>Recent Posts</h4></th></tr>
        </thead>
        {{#each model}}
          <tr>
            <td>
              <div>
                {{#link-to 'post' this}} {{title}} <small class='muted'>by {{author}}</small>{{/link-to}}
              </div>
            </td>
          </tr>
        {{/each}}
      </table>
    
    {{#link-to 'newRecord' class="btn btn-primary"}}Create post{{/link-to}}
    
    </div>
    <div class="span9">
      {{outlet}}
    </div>
  </div>
</div>