<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Ember Starter Kit</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
</head>
<body>

  <script type="text/x-handlebars">
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Bloggr</a>
        <ul class="nav">
          <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
          <li>{{#link-to 'about'}}About{{/link-to}}</li>
        </ul>
      </div>
    </div>
    {{outlet}}
  </script>
  
  <script type="text/x-handlebars" id="posts">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <table class="table table-striped">
            <thead>
              <tr><th><h4>Recent Posts</h4></th></tr>
            </thead>
            {{#each model}}
              <tr>
                <td>
                  <div>
                    {{#link-to 'post' this}} {{title}} <small class='muted'>by {{author}}</small>{{/link-to}}
                  </div>
                </td>
              </tr>
            {{/each}}
          </table>
        
        {{#link-to 'newRecord' class="btn btn-primary"}}Create post{{/link-to}}
        
        </div>
        <div class="span9">
          {{outlet}}
        </div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="posts/index">
    <p class="text-warning">Please select a post</p>
  </script>

  <script type="text/x-handlebars" id="post">
    {{#if isEditing}}
      {{partial 'post/edit'}}
      <button {{action 'doneEditing'}}>Done</button>
    {{else}}
      <button {{action 'edit'}}>Edit</button>
    {{/if}}
    <button {{action 'deleteRecord' this}}>Delete</button>

    <h1>{{title}}</h1>
    <h2>by {{author.name}} <small class='muted'>({{format-date date}})</small></h2>

    <hr>

    <div class='intro'>
      {{format-markdown excerpt}}
    </div>

    <div class='below-the-fold'>
      {{format-markdown body}}
    </div>
  </script>

  <script type="text/x-handlebars" id="newRecord">
    <div>
      <label>Title:</label>{{input type="text" value=title}}
    </div>
    
    <div>
      <label>Author:</label>{{input type="text" value=author}}
    </div>
    
    <div>
      <label>Excerpt:</label>{{input type="text" value=excerpt}}
    </div>
    
    <div>
      <label>Body of blog:</label>{{input type="text" value=body}}
    </div>
    
    <button {{action 'save' this}}>Add</button>
  </script>
  
  <script type="text/x-handlebars" id="post/_edit">
    <p>{{input type="text" value=title}}</p>
    <p>{{input type="text" value=excerpt}}</p>
    <p>{{textarea value=body}}</p>
  </script>

  <script type="text/x-handlebars" id="about">
    <div class='about'>
      <p>
        Something ...
      </p>
    </div>
  </script>

  <script src="js/libs/jquery-1.9.1.js"></script>
  <script src="js/libs/handlebars-1.0.0.js"></script>
  <script src="js/libs/ember.js"></script>
  <script src="js/libs/ember-data.js"></script>
  <script src="js/libs/localstorage_adapter.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.1.0/moment.min.js"></script>
    
  <script src="js/app.js"></script>
  <script src="js/models/PostModel.js"></script>
  <script src="js/router.js"></script>
  <script src="js/controllers/PostController.js"></script>
  <script src="js/controllers/NewRecordController.js"></script>
  <script src="js/helpers.js"></script>

</body>
</html>
